DB_HOST=127.0.0.1
DB_USER=root
DB_PASSWORD=minhasenha_bd
DB_NAME=nome_do_banco_de_dados
OLLAMA_MODEL=qwen2.5:3b

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=emailexemplo
SMTP_PASSWORD=senhaexemplo
SMTP_FROM=emailexemplo
